@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-Thin.ttf') format('ttf')
  font-weight: 100

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-ExtraLight.ttf') format('ttf')
  font-weight: 200

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-Light.ttf') format('ttf')
  font-weight: 300

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-Regular.ttf') format('ttf')
  font-weight: 400

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-Medium.ttf') format('ttf')
  font-weight: 500

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-SemiBold.ttf') format('ttf')
  font-weight: 600

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-Bold.ttf') format('ttf')
  font-weight: 700

@font-face
  font-family: 'Inter Tight'
  src: url('/fonts/InterTight-ExtraBold.ttf') format('ttf')
  font-weight: 800
