---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/home/Hero.astro";
import Certification from "../components/home/Certification.astro";
import Polaroids from "../components/home/Polaroids.astro";
---

<style lang="sass">
  section
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh
  .top-row
    display: flex
    width: 100%
    justify-content: space-between
    padding: 40px
  .bottom-row
    display: flex
    width: fit-content
    flex-direction: column
    padding: 40px
    ul
      flex-direction: column
</style>

<Layout pageTitle="Rayyan Eka Putra | Security & Internet Engineer">
  <section class="first">
    <div class="top-row">
      <Hero />
      <Navbar
        navs={[
          {
            name: ".linkedin",
            link: "https://www.linkedin.com/in/rayyan-eka-putra/",
          },
          {
            name: ".instagram",
            link: "https://www.instagram.com/rayyanekaputram",
          },
          { name: ".github", link: "https://github.com/rayyanekaputra/" },
        ]}
      />
    </div>
    <div class="bottom-row">
      <Certification />
    </div>
    <Polaroids />
  </section>
</Layout>
<script>
  //ANIMATION SCRIPTS
  import {
    animate,
    createTimeline,
    stagger,
    utils,
    createDraggable,
  } from "animejs";

  let loadingTextEl = document.querySelector("#loading-text") as HTMLElement; //as HTMLElement gara2 typescript, baekji kalau tanpa itu
  let heroDescEl = document.querySelector(".hero-desc") as HTMLElement;
  let certItemsEl = document.querySelectorAll(".cert-item");
  let certTitleEl = document.querySelector(
    ".certification-title"
  ) as HTMLElement;

  // Store all drag instances in an array
  const dragInstances = [];

  //DRAGGING FUNCTION --> dipanggil di onComplete animasi Polaroids
  let polaroidCardsEl = document.querySelectorAll(".polaroid-card");
  const dragPolaroids = (el) =>
    createDraggable(el, {
      container: ".first",
    });

  //MORE BUTTON --> RESET dan BUKA MENU
  let btnNavbarMobile = document.querySelector("button.navbar-mobile-btn");
  const navbarMoreButton = (draggingInstances) => {
    btnNavbarMobile?.addEventListener("click", () => {
      draggingInstances.forEach((draggingInstance) => draggingInstance.reset());
    });
  };

  let tl = createTimeline({
    // duration: 1200,
  });
  tl
    //ANIMASI LOADING
    .add(loadingTextEl, {
      innerText: "Loading " + [100] + "%",
      modifier: utils.roundPad(0),
      ease: "inOutExpo",
      duration: 2000,
      delay: 400,
      onComplete: () => heroDescEl.classList.remove("display-none"),
    })
    // //HAPUS LOADING
    .add(loadingTextEl, {
      opacity: 0,
      ease: "inOutExpo",
      onComplete: () => {
        // console.log(heroDescEl);
        loadingTextEl.classList.add("transparent", "display-none");
      },
    })
    //MASUKKAN HERO DESC
    .add(heroDescEl, {
      opacity: 1,
      ease: "inOutExpo",
      onComplete: () => {
        // console.log(heroDescEl);
      },
    })
    //MASUKKAN CERTIFICATION TITLE
    .add(certTitleEl, {
      opacity: 1,
      delay: stagger(100),
      ease: "inOutExpo",
      onComplete: () => {
        certTitleEl.classList.remove("transparent");
      },
    })
    //MASUKKAN CERTIFICATIONS
    .add(certItemsEl, {
      opacity: 1,
      delay: stagger(100),
      ease: "inOutExpo",
      onComplete: () => {
        certItemsEl.forEach((certItemEl) => {
          //remove satu2 njo kelas transparentna
          // console.log(certItemEl);
          certItemEl.classList.remove("transparent");
        });
      },
    })
    //POLAROIDS
    .add(polaroidCardsEl, {
      opacity: 1,
      delay: stagger(100),
      ease: "inOutExpo",
      onComplete: () => {
        //DRAGABLES
        polaroidCardsEl.forEach((cardEl) => {
          const dragMe = dragPolaroids(cardEl);
          dragInstances.push(dragMe); // Store the instance
          navbarMoreButton(dragInstances); // Pass all instances
        });``
      },
    });
</script>
<script src="../scripts/typer.js"></script>
