---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";

const navs = [".linkedin", ".instagram", ".github"];

const certs = {
  "+ understanding the internet / soi asia":
    "https://inxignia.soi.asia/public/assertions/YQsW3CvISKqml7rMpYCPRA",
  "+ operating the internet / soi asia":
    "https://inxignia.soi.asia/public/assertions/JndIwoSDStykWnh-ILBy6A",
  "+ apie online / soi asia":
    "https://inxignia.soi.asia/public/assertions/Hihe_K4gRtOqh85dSm2hhw",
  "+ apie e-workshop / soi asia":
    "https://inxignia.soi.asia/public/assertions/bI8nNPLfQwmWRbL3WPg_-g",
  "+ apie camp / soi asia":
    "https://inxignia.soi.asia/public/assertions/gyLrDXnOSS2VNYf9sy7OTw",
  "+ apie internship / soi asia":
    "https://inxignia.soi.asia/public/assertions/gyLrDXnOSS2VNYf9sy7OTw",
  "+ apie noc / soi asia": "",
  "+ cbr2 researcher / soi asia": "",
};
---

<style lang="sass">
  section
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh
  .top-row
    display: flex
    width: 100%
    justify-content: space-between
    padding: 40px
  ul
    list-style-type: none
    display: flex
    flex-direction: row
    column-gap: 28px

  .bottom-row
    display: flex
    flex-direction: column
    padding: 40px
    ul
      flex-direction: column
</style>

<Layout pageTitle="Home">
  <section class="first">
    <div class="top-row">
      <Hero />

      <ul>
        {
          navs.map((nav) => (
            <li>
              <p>{nav}</p>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="bottom-row">
      <p class="certification-title transparent">certifications:</p>
      <ul>
        {
          Object.entries(certs).map(([certName, certLink]) => (
            <li class="cert-item transparent">
              {certLink ? (
                <a href={certLink} target="_blank" rel="noopener noreferrer">
                  <p>{certName}</p>
                </a>
              ) : (
                <p>{certName}</p>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
<script>
  import anime from "animejs";

  var loadingTextEl = document.querySelector("#loading-text") as HTMLElement; //as HTMLElement gara2 typescript, baekji kalau tanpa itu
  var heroDescEl = document.querySelector(".hero-desc") as HTMLElement;
  var certItemsEl = document.querySelectorAll(".cert-item");
  var certTitleEl = document.querySelector(
    ".certification-title"
  ) as HTMLElement;

  var tl = anime.timeline({
    duration: 1200,
  });
  tl
    //ANIMASI LOADING
    .add({
      targets: loadingTextEl,
      innerText: "Loading " + [100] + "%",
      round: 1,
      easing: "easeInOutExpo",
      duration: 3000,
      delay: 400,
      complete: function (anim) {
        heroDescEl.classList.remove("display-none");
      },
    })
    //HAPUS LOADING
    .add({
      targets: loadingTextEl,
      opacity: 0,
      easing: "easeInOutExpo",
      complete: function (anim) {
        console.log(heroDescEl);
        loadingTextEl.classList.add("transparent", "display-none");
      },
    })
    //MASUKKAN HERO DESC
    .add({
      targets: heroDescEl,
      opacity: 1,
      easing: "easeInOutExpo",
      complete: function (anim) {
        console.log(heroDescEl);
      },
    })
    //MASUKKAN CERTIFICATION TITLE
    .add({
      targets: certTitleEl,
      opacity: 1,
      delay: anime.stagger(100),
      easing: "easeInOutExpo",
      complete: function () {
        certTitleEl.classList.remove("transparent");
      },
    })
    //MASUKKAN CERTIFICATIONS
    .add({
      targets: certItemsEl,
      opacity: 1,
      delay: anime.stagger(100),
      easing: "easeInOutExpo",
      complete: function () {
        certItemsEl.forEach((certItemEl) => {
          //remove satu2 njo kelas transparentna
          console.log(certItemEl);
          certItemEl.classList.remove("transparent");
        });
      },
    });
</script>
<script src="../scripts/typer.js"></script>
