---
const jobs = {
  "+ finku / web designer (2021-2024)": "https://www.finku.id/",
  "+ onebox / web designer (2024-present)": "https://dribbble.com/rayyanekaputra",
  "+ foundstrap / web designer (2024)": "https://foundstrap.com/",
  "+ afteranother / web designer (2024-2025)": "https://afteranother.com/",
  "+ quicksite / design lead (2024)": "https://quicksite.guru/",
  "+ soi asia / graphics designer (2025)": "https://www.soi.asia/"
};
---

<p class="experience-title transparent">work experience:</p>
<ul>
  {
    Object.entries(jobs).map(([jobName, jobLink]) => (
      <li class="job-item transparent">
        {jobLink ? (
          <a href={jobLink} target="_blank" rel="noopener noreferrer">
            <p>{jobName}</p>
          </a>
        ) : (
          <p>{jobName}</p>
        )}
      </li>
    ))
  }
</ul>
