---

---

<style lang="sass">
  .polaroid-card
    position: absolute

    width: 346px
    height: 452px
    @media (max-width: 1440px)
      width: 242px
      height: 316px

    padding: 12px 12px 60px 12px
    background: white
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%)
    opacity: 0
    img
      background-color: white
      image-rendering: smooth
      object-position: 50% 50%
      width: 100%
      object-fit: cover
        //   mix-blend-mode: luminosity
  .polaroid-photo
    display: block
    background-color: grey
    overflow: hidden
    width: 100%
    height: 100%
    border-radius: 12px
  .card-1
    bottom: 262px
    right: calc(766px + 30vw)
    z-index: 0
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-2
    bottom: 336px
    right: calc(674px + 30vw)
    z-index: 1
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-3
    bottom: 236px
    right: calc(501px + 30vw)
    z-index: 2
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-4
    bottom: 288px
    right: calc(328px + 30vw)
    z-index: 3
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-5
    bottom: 188px
    right: calc(155px + 30vw)
    z-index: 4
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-6
    bottom: 262px
    right: calc(-18px + 30vw)
    z-index: 5
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-7
    bottom: 162px
    right: calc(-191px + 30vw)
    z-index: 6
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
  .card-8
    bottom: 214px
    right: calc(-364px + 30vw)
    z-index: 7
    @media (max-width: 1440px)
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 242px
      height: 316px
      margin: auto
</style>
<div class="polaroid-card card-1">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame04.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-2">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame02.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-3">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame01.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-4">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame03.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-5">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame05.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-6">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame06.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-7">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame07.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
<div class="polaroid-card card-8">
  <div class="polaroid-photo">
    <img loading = "eager"  src="/photos/frame08.png" alt="fotoku" oncontextmenu="return false;" />
  </div>
</div>
