---
import "../styles/global.sass"
const {pageTitle = "Rayyan Eka Putra"} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://rayyanekaputra.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="rayyan eka putra.">
    <meta property="og:description" content="security and internet engineer.">
    <meta property="og:image" content="https://rayyanekaputra.com/ogimage.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rayyanekaputra.com">
    <meta property="twitter:url" content="https://rayyanekaputra.com">
    <meta name="twitter:title" content="rayyan eka putra.">
    <meta name="twitter:description" content="security and internet engineer.">
    <meta name="twitter:image" content="https://rayyanekaputra.com/ogimage.png">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{pageTitle}</title>
</head>
<body>
    <slot/>
    
</body>
</html>